<div id='menu'>
  <div id='menuwidth'>
    <div id='logodiv'>
      <a href='http://filer.progstr.com'><img src='http://filer.progstr.com/uploads/5/0/4/9/5049526/1328173040.png' /></a>
    </div>
    <div id='menudiv'>
      <ul>
        <li><a href='http://filer.progstr.com/live-demo.html'>Live Demo</a></li>
        <li id='active'><a href='#'>Documentation</a></li>
        <li><a href='http://filer.progstr.com/blog.html'>Blog</a></li>
        <li><a href='https://api.heroku.com/myapps'>Log in</a></li>
        <li><a href='http://addons.heroku.com/progstr-filer'>Create account</a></li>
      </ul>
    </div>
    <div class='clear'></div>
  </div>
</div>
