<html>
<head>
<title>JHbrands PRODUCTS</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<style type="text/css">
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:white; #FFFFCC;
	text-shadow: 1px 1px 1px black;
}
body {
	background-color: #1E0C0B;
	background-repeat: no-repeat;
}
</style>
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (company.psd) -->
<table width="975" height="691" border="0" align="center" cellpadding="0" cellspacing="0" id="Table_01">
	<tr>
		<td rowspan="10">
			<img src="images/coffee/images/company_01.png" width="83" height="690" alt=""></td>
		<td colspan="2" rowspan="5">
			<img src="images/coffee/images/company_02.png" width="212" height="142" alt=""></td>
		<td colspan="11">
			<img src="images/coffee/images/company_03.png" width="680" height="33" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="images/coffee/images/company_04.png" width="3" height="80" alt=""></td>
		<td colspan="7">
			<img src="images/coffee/images/company_05.png" width="351" height="43" alt=""></td>
		<td colspan="3" rowspan="2">
			<img src="images/coffee/images/company_06.png" width="326" height="80" alt=""></td>
	</tr>
	<tr>
		<td colspan="7">
			<img src="images/coffee/images/company_07.png" width="351" height="37" alt=""></td>
	</tr>
	<tr>
		<td colspan="3" rowspan="2"><a href="index.html"><img src="images/coffee/images/company_08.png" alt="" width="51" height="29" border="0"></a></td>
		<td rowspan="2"><a href="JHcompany.html"><img src="images/coffee/images/company_09.png" alt="" width="87" height="29" border="0"></a></td>
		<td rowspan="2"><a href="JH NEWS.html"><img src="images/coffee/images/company_10.png" alt="" width="74" height="29" border="0"></a></td>
		<td><a href="JHProducts.html"><img src="images/coffee/images/company_11.png" alt="" width="87" height="26" border="0"></a></td>
		<td colspan="3"><a href="JH contact us.html"><img src="images/coffee/images/company_12.png" alt="" width="121" height="26" border="0"></a></td>
		<td colspan="2" rowspan="2">
			<img src="images/coffee/images/company_13.png" width="260" height="29" alt=""></td>
	</tr>
	<tr>
		<td colspan="4">
			<img src="images/coffee/images/company_14.png" width="208" height="3" alt=""></td>
	</tr>
	<tr>
		<td width="291" height="329" colspan="12" align="center" valign="top" background="images/coffee/images/company_15.png"><blockquote> 
	      <table width="718" border="0" align="center">
		      <tr>
		        <td width="500" height="245" align="left" valign="top"><p>&nbsp;</p>
		        
                  <blockquote>
                     <p style="text-align:justify;text-shadow:1px 1px 1px black;">
			   Coffee and tea drinking has become a prized ritual for people all over the world. 
			   It is not about the drink itself, it is about the drinking experience, the enjoyment and pleasure of having a warming sip,
			   a pleasure that we have participated in since 1999 when Jinyuan Huajing Co., Ltd. has launched its new line
			   for custom-branding. We can offer a rich assortment of promotional and personalized products with high quality
			   impressions and exclusive colors. In addition to the shapes and sizes in regular production, 
			   we can jointly initiate and develop a special project with our customers, starting with the project planning,
			   designing, tooling manufacturing (if necessary) until the final production. 
			 </p>
			 
			 <!--<p style="text-align:justify;text-shadow:1px 1px 1px black;">
			 	<a style="color:white;font-size:large;" href="./Catalogue-Cup&Saucer.pdf">Click here to download our catalogue (.pdf)</a>
      </p> -->
                </blockquote></td>
	          </tr>
	        </table>
	  </blockquote>	    </td>
		<td rowspan="5">
			<img src="images/coffee/images/company_16.png" width="78" height="548" alt=""></td>
  </tr>
	<tr>
		<td colspan="4" rowspan="2">
			<img src="images/coffee/images/company_17.png" width="231" height="124" alt=""></td>
		<td colspan="5">
			<img src="images/coffee/images/company_18.png" width="330" height="112" alt=""></td>
		<td colspan="3" rowspan="4">
			<img src="images/coffee/images/company_19.png" width="253" height="219" alt=""></td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="images/coffee/images/company_20.png" width="330" height="12" alt=""></td>
	</tr>
	<tr>
		<td rowspan="2">
			<img src="images/coffee/images/company_21.png" width="141" height="95" alt=""></td>
		<td colspan="8">
			<img src="images/coffee/images/company_22.png" width="420" height="77" alt=""></td>
	</tr>
	<tr>
		<td colspan="8">
			<img src="images/coffee/images/company_23.png" width="420" height="18" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="images/coffee/images/spacer.gif" width="83" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="141" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="71" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="3" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="16" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="32" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="87" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="74" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="87" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="50" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="5" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="66" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="182" height="1" alt=""></td>
		<td>
			<img src="images/coffee/images/spacer.gif" width="78" height="1" alt=""></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>
